<div class="spinner-wrapper" *ngIf="isLoading">
  <mat-spinner strokeWidth="4" diameter="40"></mat-spinner> 
  <span class="loading-text">Getting minsters..</span> 
</div>
<div class="container" *ngIf="ministers?.length">
  <h2 class="heading">Ontario Cabinet</h2>
  <div class="row">
    <div class="col ministers-list">
      <mat-nav-list>
<mat-list-item *ngFor="let minister of ministers" (click)="selectMinister(minister)" [class.active]="selectedMinister.name == minister?.name">

          <a matLine >{{minister?.name}}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="col">
      <mat-card class="minister-wrapper">
        <img mat-card-image [src]="selectedMinister?.photoURL" [alt]="selectedMinister?.name">
        <mat-card-title>{{selectedMinister?.name}}</mat-card-title>
        <mat-card-subtitle>{{selectedMinister?.ministry}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>

