div.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
div.row {
  display: flex;
  height: 100%;
}
div.col {
  flex: 1;
  box-shadow: 0px 0px 3px #EEE;
}
h2.heading {
  text-align: center;
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 20px 10px;
}
div.ministers-list {
  height: 100%;
  overflow-y: scroll;
}
mat-list-item.active {
  background: rgba(0, 0, 0, 0.15);
}
div.spinner-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span.loading-text {
  padding-top: 20px;
}